.menu-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  color:white;
  height: 40px;
  width: 100%;
}
.menu-container a{
  display: inline-block;
  width: 50px;
  color:white;

}
a.active{
  color:#8e24aa !important;
}
